<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title>@@TITLE@@</title>
  <link type="text/css" rel="stylesheet" href="css/style.css"  />
 </head>
 <body>
 <form name="form1" method="post">
  <input type="hidden" name="login" id="login" value="login" />
  <div align="center">
   <table cellpadding="1" cellspacing="1" width="220px">
     <tr><td colspan="2">&nbsp;</td></tr>
     <tr><td colspan="2" scope="col"><img src="images/logo.jpg" width="600" border="1" /></td></tr>
     <tr><td colspan="2">&nbsp;</td></tr>
     <tr><th colspan="2" scope="col" align="center">@@TITLE@@</th></tr>
     <tr><td colspan="2">&nbsp;</td></tr>
     <tr>
      <td>Usuario:</td>
      <td><input name="username" type="text" id="username"></td>
     </tr><tr>
      <td>Clave:</td>
      <td><input type="password" name="password"></td>
     </tr><tr>
      <td colspan="2" scope="row" style="text-align: right">
       <input class="button" type="submit" name="Submit" value="Ingresar">
      </td>
     </tr>
    </table>
   </div>
  </form>
 </body>
</html>