@charset "utf-8";
/* CSS Document */

.matrix { font-family: Lucida Console, Courier, Monotype; font-size: 107pt; text-align: center; padding: 0px; margin: 0px; vertical-align: top }
.button { background-color:#BBBBBB; color: #FFFFFF; border: 1px solid #FFFFFF; font-size: 10px }
body    { font-family: Arial, Helvetica, sans-serif; font-size: 13px; background-color: #00FF00; text-align: center }
a       { text-decoration: none; }
th      { font-size: 12px; text-align: center; vertical-align: middle; font-weight: bold; border: solid 1px #FFFFFF; background-color: #006600; padding-left: 3px; padding-right: 3px; color: #FFFFFF }
td      { font-size: 12px; text-align: center; vertical-align: top; font-weight: bold;  }
